################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/P_Venta/Punto_de_Venta/.vs/Punto_de_Venta/FileContentIndex
